@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  --color-primary: #ffc500;
  --default-padding: 1rem;
  --color-copy: #333333
  width: 100%;
  color:var(--color-copy);
}

body {
  margin: 0;
  
}

header {
  padding-top: 7.75rem;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header,
main,
footer{
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  z-index:2;
  background-color: #000000;
  width: 100%;
  color: #fff;

}

.navbar__container{
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 100%;
  height: 7.75rem;
  padding: 0 1rem;
  background-color: #000000;
  color: #fff;
  align-items: center;
}

.navbar h1 {
  margin: 1rem;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  margin-right: 2.5rem;
  font-size: 0.875rem;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
}

.navbar__links a:hover {
  color: var(--color-primary);
}
.logo--studion {
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  font-size: 2.375rem;
}

.copy--primary {
  color: var(--color-primary);
}

.logo-studion__subtitle {
  font-weight: 300;
  font-size: 0.875rem;
  /* float: right;
  padding: 0 3.2rem; */
}

#slider {
  background-color: #000000;
  color: #fff;
  /* background-image: url('./images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
} 

#slider h6{
  margin: 0;
}

.slide{
  height: calc(92vh - 7.75rem);
  position: relative;
  z-index:1;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position:absolute;
  left: 50vw;
  top: 0;
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1875rem;
}

.slide__copy h2{
  font-size: 6.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.25rem;
}

.btn{
  padding: 1.25rem 2.5rem;
  color: var(--color-primary);
  border: 0.125rem solid #fff;
  background: unset;
  border-radius: 2rem;
  font-size: .9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: .7s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional{
  color: #333333;
  background-color: var(--color-primary);
}

.btn--slider:hover,
.btn--slider:active,
.btn--slider:focus {

}

#counter{
  background-color: var(--color-primary);
  text-transform: uppercase;

}

.counter__container {
  padding: 4.375rem;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}

.counter__container h3 {
  font-size: 2.1875rem;
}

.counter__container h3 small{
  font-size: 1.25rem;
  display: block;
}

.institutional{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 4.375rem 1rem;
  gap: 3rem;
}

.institutional__copy {
  padding: 0 1.875rem;
  font-size: 14;
}

.institutional__copy h6 {
  font-size: .875rem;
  font-weight: 500;
  margin:0;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

.institutional__copy h4 {
  font-size: 1.56rem;
  margin-top: 1rem;
}

.institutional__image{
  max-width: 600px;
}

.institutional p {
  font-size: 1.025rem;
  line-height: 1.68rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.btn--institutional:hover {
  background-color: #fff;
  border-color: var(--color-copy);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}